In [1]:
import pandas as pd

In [2]:
contributions = pd.read_csv('individual_contributions.csv', sep='|', header=None,
                            usecols=[0, 3, 10, 13, 14, 20],
                            names=['CMTE_ID',
                                  'TRANSACTION_PGI',
                                  'ZIP_CODE',
                                  'TRANSACTION_DT',
                                  'TRANSACTION_AMT',
                                  'SUB_ID'],
                            dtype={"CMTE_ID": str, 
                                   "TRANSACTION_PGI": str,
                                   "ZIP_CODE": str,
                                  'TRANSACTION_DT': str,
                                   "TRANSACTION_AMT": float, 
                                   "SUB_ID": str
                                  }
                           )

In [3]:
contributions['zipcode_5'] = contributions['ZIP_CODE'].str[0:5]
contributions['ZIP_CODE'] = pd.to_numeric(contributions['ZIP_CODE'], errors='coerce')

In [4]:
contributions.dropna(subset=['CMTE_ID', 'ZIP_CODE','TRANSACTION_AMT','SUB_ID','zipcode_5'],inplace=True)
contributions = contributions.loc[contributions['TRANSACTION_AMT'] > 0]

In [5]:
contributions.head()

,CMTE_ID,TRANSACTION_PGI,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,SUB_ID,zipcode_5
0,C00088591,P,220424511.0,02132015,500.0,4032020151240885624,22042
1,C00088591,P,220424511.0,02132015,200.0,4032020151240885819,22042
2,C00088591,P,220424511.0,02272015,200.0,4032020151240885820,22042
3,C00088591,P,220424511.0,02132015,200.0,4032020151240885683,22042
4,C00088591,P,220424511.0,02272015,200.0,4032020151240885684,22042

In [6]:
contributions.to_csv('contributions.csv', index=False)

In [7]:
grouped = contributions.groupby(['zipcode_5'])

In [8]:
zip_summary_df = pd.DataFrame()
zip_summary_df['donations_sum'] = grouped['TRANSACTION_AMT'].sum()
zip_summary_df['donations_median'] = grouped['TRANSACTION_AMT'].median()
zip_summary_df['donations_count'] = grouped['SUB_ID'].count()
zip_summary_df.reset_index(inplace=True)

In [9]:
zip_summary_df.head()

  zipcode_5  donations_sum  donations_median  donations_count
0    \t6410          798.0              42.0               19
1    \t8400           15.0              15.0                1
2      3102          400.0             100.0                4
3      6410         4388.0             100.0               32
4      8411         1020.0              42.5               24

In [10]:
zip_summary_df.dtypes

zipcode_5            object
donations_sum       float64
donations_median    float64
donations_count       int64
dtype: object

In [11]:
zip_summary_df.to_csv('zipcode_donations.csv', index=False)

In [12]:
census_df = pd.read_csv('census_data_2016.csv')
census_df = census_df[1:]
census_df.columns = header
census_df.head()
#https://www.census.gov/glossary/#term_Employed

C:\Users\alexa\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,76,78,80,82,84,86,87,88,89,90,91,92,93,94,95,96,97,101,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,150,151,152,153,154,155,156,157,158,159,160,161,162,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NameError: name 'header' is not defined

In [ ]:
for column in header[1:]:
    census_df[column] = pd.to_numeric(census_df[column], errors='coerce')
census_df.dtypes

In [ ]:
census_summary_df = pd.DataFrame()
census_summary_df['zipcode_5'] = census_df['zipcode'].str[9:14]
census_summary_df['pop_total'] = census_df['pop_total']
census_summary_df['unemployment_rate'] = census_df['pop_unemployed'] / (census_df['pop_unemployed'] + census_df['pop_employed'])
census_summary_df['median_household_income'] = census_df['median_household_income']
census_summary_df['healthcare_rate'] = census_df['pop_with_healthcare'] / census_df['pop_total']
census_summary_df['hs_graduation_rate'] = census_df['25+_HS'] / census_df['edu_25+_total']
census_summary_df['assoc_degree_rate'] = census_df['edu_25+_assoc'] / census_df['edu_25+_total']
census_summary_df['bachelor_degree_rate'] = census_df['edu_25+_bachelor'] / census_df['edu_25+_total']
census_summary_df['grad_degree_rate'] = census_df['edu_25+_grad'] / census_df['edu_25+_total']
census_summary_df.head()

In [ ]:
census_summary_df.dtypes

In [ ]:
combined_summary_df = census_summary_df.merge(zip_summary_df, how='inner')

In [ ]:
combined_summary_df['donations_sum_quartile'] = pd.qcut(combined_summary_df['donations_sum'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])
combined_summary_df['donations_median_quartile'] = pd.qcut(combined_summary_df['donations_median'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])

In [ ]:
combined_summary_df.sort_values(by=['donations_sum'])

In [ ]:
combined_summary_df.to_csv('cleaned_combined_zipcodes.csv', index=False)

In [59]:
combined_summary_df = pd.read_csv('cleaned_combined_zipcodes.csv')

In [60]:
from numpy.random import seed
seed(1)
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [75]:
combined_summary_df.dropna(inplace=True)
X = combined_summary_df[['pop_total', 'unemployment_rate', 'median_household_income',
                         'healthcare_rate', 'hs_graduation_rate', 'assoc_degree_rate', 
                         'bachelor_degree_rate', 'grad_degree_rate']]
y = combined_summary_df['donations_median_quartile']
print(X.shape, y.shape)

(1160, 8) (1160,)

In [76]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [77]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [78]:
y_test

array([[0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]], dtype=float32)

In [79]:
# Create an empty sequential model
model = Sequential()

In [80]:
# Add the first layer where the input dimensions are the 561 columns of the training data
model.add(Dense(50, activation='relu', input_dim=X_train.shape[1]))

In [81]:
# Add a second hidden layer
model.add(Dense(50, activation='relu'))

In [82]:
# The output layer has 5 columns that are one-hot encoded
y_train.shape

(870, 5)

In [83]:
# Add output layer
model.add(Dense(y_train.shape[1], activation="softmax"))

In [84]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(loss="categorical_crossentropy",
              optimizer="adam", metrics=['accuracy'])

In [85]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [86]:
y_train

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]], dtype=float32)

In [87]:
# Use the training data to fit (train) the model
model.fit(
    X_train_scaled,
    y_train,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 1.5474 - acc: 0.2770
Epoch 2/100
 - 0s - loss: 1.4068 - acc: 0.3494
Epoch 3/100
 - 0s - loss: 1.3508 - acc: 0.3494
Epoch 4/100
 - 0s - loss: 1.3156 - acc: 0.3736
Epoch 5/100
 - 0s - loss: 1.2951 - acc: 0.3908
Epoch 6/100
 - 0s - loss: 1.2804 - acc: 0.3920
Epoch 7/100
 - 0s - loss: 1.2669 - acc: 0.4069
Epoch 8/100
 - 0s - loss: 1.2570 - acc: 0.3966
Epoch 9/100
 - 0s - loss: 1.2473 - acc: 0.4195
Epoch 10/100
 - 0s - loss: 1.2440 - acc: 0.4092
Epoch 11/100
 - 0s - loss: 1.2403 - acc: 0.3989
Epoch 12/100
 - 0s - loss: 1.2291 - acc: 0.4264
Epoch 13/100
 - 0s - loss: 1.2240 - acc: 0.4368
Epoch 14/100
 - 0s - loss: 1.2215 - acc: 0.4276
Epoch 15/100
 - 0s - loss: 1.2199 - acc: 0.4253
Epoch 16/100
 - 0s - loss: 1.2092 - acc: 0.4425
Epoch 17/100
 - 0s - loss: 1.2051 - acc: 0.4437
Epoch 18/100
 - 0s - loss: 1.2016 - acc: 0.4356
Epoch 19/100
 - 0s - loss: 1.1966 - acc: 0.4310
Epoch 20/100
 - 0s - loss: 1.1980 - acc: 0.4414
Epoch 21/100
 - 0s - loss: 1.1908 - acc: 0.4517
Epoch 22/100
 - 0s - loss: 1.1898 - acc: 0.4517
Epoch 23/100
 - 0s - loss: 1.1811 - acc: 0.4540
Epoch 24/100
 - 0s - loss: 1.1801 - acc: 0.4391
Epoch 25/100
 - 0s - loss: 1.1787 - acc: 0.4598
Epoch 26/100
 - 0s - loss: 1.1761 - acc: 0.4586
Epoch 27/100
 - 0s - loss: 1.1715 - acc: 0.4632
Epoch 28/100
 - 0s - loss: 1.1660 - acc: 0.4598
Epoch 29/100
 - 0s - loss: 1.1629 - acc: 0.4759
Epoch 30/100
 - 0s - loss: 1.1588 - acc: 0.4713
Epoch 31/100
 - 0s - loss: 1.1589 - acc: 0.4609
Epoch 32/100
 - 0s - loss: 1.1524 - acc: 0.4897
Epoch 33/100
 - 0s - loss: 1.1548 - acc: 0.4701
Epoch 34/100
 - 0s - loss: 1.1473 - acc: 0.4805
Epoch 35/100
 - 0s - loss: 1.1427 - acc: 0.4966
Epoch 36/100
 - 0s - loss: 1.1416 - acc: 0.4851
Epoch 37/100
 - 0s - loss: 1.1369 - acc: 0.4759
Epoch 38/100
 - 0s - loss: 1.1356 - acc: 0.4874
Epoch 39/100
 - 0s - loss: 1.1324 - acc: 0.4793
Epoch 40/100
 - 0s - loss: 1.1339 - acc: 0.4747
Epoch 41/100
 - 0s - loss: 1.1246 - acc: 0.4897
Epoch 42/100
 - 0s - loss: 1.1227 - acc: 0.5057
Epoch 43/100
 - 0s - loss: 1.1228 - acc: 0.4920
Epoch 44/100
 - 0s - loss: 1.1262 - acc: 0.4839
Epoch 45/100
 - 0s - loss: 1.1215 - acc: 0.5011
Epoch 46/100
 - 0s - loss: 1.1132 - acc: 0.4908
Epoch 47/100
 - 0s - loss: 1.1123 - acc: 0.4989
Epoch 48/100
 - 0s - loss: 1.1020 - acc: 0.5092
Epoch 49/100
 - 0s - loss: 1.1062 - acc: 0.5069
Epoch 50/100
 - 0s - loss: 1.1031 - acc: 0.5172
Epoch 51/100
 - 0s - loss: 1.1005 - acc: 0.5092
Epoch 52/100
 - 0s - loss: 1.0921 - acc: 0.5161
Epoch 53/100
 - 0s - loss: 1.0890 - acc: 0.5195
Epoch 54/100
 - 0s - loss: 1.0901 - acc: 0.5103
Epoch 55/100
 - 0s - loss: 1.0867 - acc: 0.5264
Epoch 56/100
 - 0s - loss: 1.0856 - acc: 0.5195
Epoch 57/100
 - 0s - loss: 1.0796 - acc: 0.5230
Epoch 58/100
 - 0s - loss: 1.0839 - acc: 0.5241
Epoch 59/100
 - 0s - loss: 1.0742 - acc: 0.5253
Epoch 60/100
 - 0s - loss: 1.0746 - acc: 0.5253
Epoch 61/100
 - 0s - loss: 1.0686 - acc: 0.5345
Epoch 62/100
 - 0s - loss: 1.0673 - acc: 0.5345
Epoch 63/100
 - 0s - loss: 1.0640 - acc: 0.5287
Epoch 64/100
 - 0s - loss: 1.0577 - acc: 0.5345
Epoch 65/100
 - 0s - loss: 1.0615 - acc: 0.5402
Epoch 66/100
 - 0s - loss: 1.0543 - acc: 0.5356
Epoch 67/100
 - 0s - loss: 1.0539 - acc: 0.5414
Epoch 68/100
 - 0s - loss: 1.0557 - acc: 0.5437
Epoch 69/100
 - 0s - loss: 1.0517 - acc: 0.5391
Epoch 70/100
 - 0s - loss: 1.0449 - acc: 0.5471
Epoch 71/100
 - 0s - loss: 1.0407 - acc: 0.5494
Epoch 72/100
 - 0s - loss: 1.0440 - acc: 0.5356
Epoch 73/100
 - 0s - loss: 1.0435 - acc: 0.5448
Epoch 74/100
 - 0s - loss: 1.0353 - acc: 0.5575
Epoch 75/100
 - 0s - loss: 1.0339 - acc: 0.5609
Epoch 76/100
 - 0s - loss: 1.0302 - acc: 0.5494
Epoch 77/100
 - 0s - loss: 1.0252 - acc: 0.5575
Epoch 78/100
 - 0s - loss: 1.0280 - acc: 0.5448
Epoch 79/100
 - 0s - loss: 1.0240 - acc: 0.5563
Epoch 80/100
 - 0s - loss: 1.0154 - acc: 0.5655
Epoch 81/100
 - 0s - loss: 1.0149 - acc: 0.5644
Epoch 82/100
 - 0s - loss: 1.0148 - acc: 0.5552
Epoch 83/100
 - 0s - loss: 1.0119 - acc: 0.5586
Epoch 84/100
 - 0s - loss: 1.0081 - acc: 0.5632
Epoch 85/100
 - 0s - loss: 1.0051 - acc: 0.5678
Epoch 86/100
 - 0s - loss: 1.0071 - acc: 0.5586
Epoch 87/100
 - 0s - loss: 1.0010 - acc: 0.5828
Epoch 88/100
 - 0s - loss: 1.0039 - acc: 0.5736
Epoch 89/100
 - 0s - loss: 0.9935 - acc: 0.5678
Epoch 90/100
 - 0s - loss: 0.9954 - acc: 0.5644
Epoch 91/100
 - 0s - loss: 0.9924 - acc: 0.5805
Epoch 92/100
 - 0s - loss: 0.9953 - acc: 0.5770
Epoch 93/100
 - 0s - loss: 0.9901 - acc: 0.5736
Epoch 94/100
 - 0s - loss: 0.9867 - acc: 0.5678
Epoch 95/100
 - 0s - loss: 0.9840 - acc: 0.5805
Epoch 96/100
 - 0s - loss: 0.9831 - acc: 0.5736
Epoch 97/100
 - 0s - loss: 0.9770 - acc: 0.5874
Epoch 98/100
 - 0s - loss: 0.9913 - acc: 0.5828
Epoch 99/100
 - 0s - loss: 0.9718 - acc: 0.5851
Epoch 100/100
 - 0s - loss: 0.9697 - acc: 0.5816

In [91]:
# Evaluate the model using the training data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 1.5272 - acc: 0.3034
Loss: 1.527183276209338, Accuracy: 0.30344828963279724

In [89]:
test = np.expand_dims(X_test_scaled[0], axis=0)
test.shape

(1, 8)

In [58]:
print(f"Predicted class: {model.predict_classes(test)}")

Predicted class: [1]