In [102]:
import pandas as pd

In [103]:
contributions = pd.read_csv('individual_contributions.csv', sep='|', header=None,
                            usecols=[0, 3, 10, 13, 14, 20],
                            names=['CMTE_ID',
                                  'TRANSACTION_PGI',
                                  'ZIP_CODE',
                                  'TRANSACTION_DT',
                                  'TRANSACTION_AMT',
                                  'SUB_ID'],
                            dtype={"CMTE_ID": str, 
                                   "TRANSACTION_PGI": str,
                                   "ZIP_CODE": str,
                                  'TRANSACTION_DT': str,
                                   "TRANSACTION_AMT": float, 
                                   "SUB_ID": str
                                  }
                           )

In [104]:
contributions['zipcode_5'] = contributions['ZIP_CODE'].str[0:5]
contributions['ZIP_CODE'] = pd.to_numeric(contributions['ZIP_CODE'], errors='coerce')

In [105]:
contributions.dropna(subset=['CMTE_ID', 'ZIP_CODE','TRANSACTION_AMT','SUB_ID','zipcode_5'],inplace=True)
contributions = contributions.loc[contributions['TRANSACTION_AMT'] > 0]

In [107]:
# Illinois Exclusive

contributions = contributions.loc[(contributions['ZIP_CODE'] > 600000000) & (contributions['ZIP_CODE'] < 630000000)]

In [108]:
contributions.head()

,CMTE_ID,TRANSACTION_PGI,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,SUB_ID,zipcode_5
649,C00235739,P,603021617.0,02052015,208.0,4032020151240886655,60302
650,C00235739,P,603021617.0,02202015,208.0,4032020151240886656,60302
673,C00235739,P,601262235.0,02202015,270.0,4032020151240886522,60126
758,C00235739,NaN,604481479.0,02052015,139.0,4032020151240886209,60448
759,C00235739,NaN,604481479.0,02202015,145.0,4032020151240886210,60448

In [109]:
contributions.to_csv('contributions.csv', index=False)

In [110]:
grouped = contributions.groupby(['zipcode_5'])

In [111]:
zip_summary_df = pd.DataFrame()
zip_summary_df['donations_sum'] = grouped['TRANSACTION_AMT'].sum()
zip_summary_df['donations_median'] = grouped['TRANSACTION_AMT'].median()
zip_summary_df['donations_count'] = grouped['SUB_ID'].count()
zip_summary_df.reset_index(inplace=True)

In [112]:
zip_summary_df.head()

  zipcode_5  donations_sum  donations_median  donations_count
0     60002        49741.0              30.0              777
1     60004       321414.0              50.0             2693
2     60005       305335.0              25.0             1736
3     60006         1001.0             251.0                3
4     60007       165900.0              35.0             1222

In [113]:
zip_summary_df.dtypes

zipcode_5            object
donations_sum       float64
donations_median    float64
donations_count       int64
dtype: object

In [114]:
zip_summary_df.to_csv('zipcode_donations.csv', index=False)

In [116]:
census_df = pd.read_csv('census_data_2016.csv',
                       usecols=['GEO.id', 'HD01_VD01', 'HD01_VD02',
                                'HC01_VC06', 'HC01_VC07','HC01_VC85', 'HC01_VC131',
                                'HC01_EST_VC08', 'HC01_EST_VC11', 'HC01_EST_VC13',
                                'HC01_EST_VC14', 'HC01_EST_VC15'])
header=['zipcode', 'pop_total', 'pop_white', 
        'pop_employed','pop_unemployed', 'median_household_income', 'pop_with_healthcare',
        'edu_25+_total', '25+_HS', 'edu_25+_assoc', 
        'edu_25+_bachelor', 'edu_25+_grad']
census_df = census_df[1:]
census_df.columns = header
census_df.head()
#https://www.census.gov/glossary/#term_Employed

C:\Users\alexa\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3,4,16,17,108,155,158,160,161,162) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,zipcode,pop_total,pop_white,pop_employed,pop_unemployed,median_household_income,pop_with_healthcare,edu_25+_total,25+_HS,edu_25+_assoc,edu_25+_bachelor,edu_25+_grad
1,8600000US00601,17800,14436,3904,2152,11507,16503,11887,2985,604,1845,376
2,8600000US00602,39716,22941,11560,3116,15511,37497,27546,6076,3689,3840,1736
3,8600000US00603,51565,35176,12722,3768,16681,47081,35589,9590,2890,5809,2239
4,8600000US00606,6320,3739,1467,205,11648,6167,4381,1553,206,349,77
5,8600000US00610,27976,16259,8327,1587,17751,27106,19237,6329,1618,2368,626

In [117]:
for column in header[1:]:
    census_df[column] = pd.to_numeric(census_df[column], errors='coerce')
census_df.dtypes

zipcode                     object
pop_total                    int64
pop_white                    int64
pop_employed                 int64
pop_unemployed               int64
median_household_income    float64
pop_with_healthcare          int64
edu_25+_total                int64
25+_HS                       int64
edu_25+_assoc                int64
edu_25+_bachelor             int64
edu_25+_grad                 int64
dtype: object

In [118]:
census_summary_df = pd.DataFrame()
census_summary_df['zipcode_5'] = census_df['zipcode'].str[9:14]
census_summary_df['pop_total'] = census_df['pop_total']
census_summary_df['unemployment_rate'] = census_df['pop_unemployed'] / (census_df['pop_unemployed'] + census_df['pop_employed'])
census_summary_df['median_household_income'] = census_df['median_household_income']
census_summary_df['healthcare_rate'] = census_df['pop_with_healthcare'] / census_df['pop_total']
census_summary_df['hs_graduation_rate'] = census_df['25+_HS'] / census_df['edu_25+_total']
census_summary_df['assoc_degree_rate'] = census_df['edu_25+_assoc'] / census_df['edu_25+_total']
census_summary_df['bachelor_degree_rate'] = census_df['edu_25+_bachelor'] / census_df['edu_25+_total']
census_summary_df['grad_degree_rate'] = census_df['edu_25+_grad'] / census_df['edu_25+_total']
census_summary_df.head()

,zipcode_5,pop_total,unemployment_rate,median_household_income,healthcare_rate,hs_graduation_rate,assoc_degree_rate,bachelor_degree_rate,grad_degree_rate
1,00601,17800,0.355350,11507.0,0.927135,0.251115,0.050812,0.155212,0.031631
2,00602,39716,0.212319,15511.0,0.944128,0.220576,0.133921,0.139403,0.063022
3,00603,51565,0.228502,16681.0,0.913042,0.269465,0.081205,0.163225,0.062913
4,00606,6320,0.122608,11648.0,0.975791,0.354485,0.047021,0.079662,0.017576
5,00610,27976,0.160077,17751.0,0.968902,0.329001,0.084109,0.123096,0.032541

In [119]:
census_summary_df.dtypes

zipcode_5                   object
pop_total                    int64
unemployment_rate          float64
median_household_income    float64
healthcare_rate            float64
hs_graduation_rate         float64
assoc_degree_rate          float64
bachelor_degree_rate       float64
grad_degree_rate           float64
dtype: object

In [120]:
combined_summary_df = census_summary_df.merge(zip_summary_df, how='inner')

In [121]:
combined_summary_df['donations_sum_quartile'] = pd.qcut(combined_summary_df['donations_sum'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])
combined_summary_df['donations_median_quartile'] = pd.qcut(combined_summary_df['donations_median'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])

In [122]:
combined_summary_df.sort_values(by=['donations_sum'])

,zipcode_5,pop_total,unemployment_rate,median_household_income,healthcare_rate,hs_graduation_rate,assoc_degree_rate,bachelor_degree_rate,grad_degree_rate,donations_sum,donations_median,donations_count,donations_sum_quartile,donations_median_quartile
941,62466,6346,0.048335,45956.0,0.276552,0.304444,0.079192,0.038990,0.010707,15.0,15.0,1,4,4
1059,62814,2036,0.120000,54145.0,0.892927,0.360951,0.156340,0.077810,0.020173,15.0,5.0,3,4,4
568,61468,56,0.000000,NaN,1.000000,0.805556,0.000000,0.000000,0.111111,18.0,9.0,2,4,4
1089,62860,616,0.051020,56750.0,0.881494,0.533333,0.098925,0.075269,0.019355,25.0,25.0,1,4,4
1030,62672,246,0.116667,44107.0,0.849593,0.482234,0.081218,0.111675,0.025381,32.0,16.0,2,4,4
1002,62617,708,0.121711,50039.0,0.916667,0.523715,0.075099,0.100791,0.019763,34.0,5.0,6,4,4
574,61474,209,0.113821,45833.0,0.933014,0.503268,0.065359,0.071895,0.019608,35.0,35.0,1,4,3
406,61043,100,0.060000,44821.0,0.910000,0.378378,0.081081,0.162162,0.040541,36.0,18.0,2,4,4
1077,62838,1809,0.114641,39426.0,0.863460,0.462199,0.074742,0.030928,0.018900,40.0,20.0,2,4,4
204,60474,903,0.103139,63077.0,0.936877,0.440129,0.067961,0.087379,0.032362,40.0,40.0,1,4,3
684,61815,257,0.083333,54875.0,0.980545,0.386364,0.159091,0.187500,0.005682,40.0,10.0,4,4,4
868,62297,345,0.000000,52727.0,0.979710,0.563333,0.150000,0.023333,0.000000,46.0,23.0,2,4,4
921,62433,922,0.035545,48125.0,0.952278,0.346565,0.160305,0.170992,0.053435,50.0,25.0,2,4,4
341,60917,571,0.052434,73098.0,0.938704,0.493075,0.113573,0.033241,0.030471,50.0,25.0,2,4,4
984,62556,301,0.060403,62841.0,0.950166,0.603306,0.020661,0.066116,0.012397,50.0,50.0,1,4,2
1071,62830,1382,0.054487,42396.0,0.912446,0.351295,0.121244,0.093264,0.054922,50.0,25.0,2,4,4
993,62570,460,0.057143,39405.0,0.889130,0.483483,0.054054,0.048048,0.027027,50.0,50.0,1,4,2
733,61919,965,0.018828,50000.0,0.952332,0.371148,0.105042,0.138655,0.040616,50.0,50.0,1,4,2
718,61871,234,0.043478,58929.0,0.982906,0.452381,0.047619,0.166667,0.053571,50.0,50.0,1,4,2
75,60113,350,0.041451,49167.0,0.797143,0.351464,0.125523,0.062762,0.058577,50.0,50.0,1,4,2
944,62469,567,0.020761,69148.0,1.000000,0.394402,0.035623,0.132316,0.150127,51.0,51.0,1,4,2
537,61418,639,0.113095,45859.0,0.923318,0.503922,0.088235,0.086275,0.017647,60.0,30.0,2,4,3
1079,62844,2242,0.102176,42955.0,0.876896,0.385780,0.176432,0.078999,0.017775,70.0,35.0,2,4,3
460,61243,234,0.030534,55750.0,0.927350,0.531915,0.090426,0.031915,0.042553,70.0,70.0,1,4,2
780,62050,412,0.050279,33950.0,0.956311,0.448276,0.062069,0.037931,0.000000,70.0,35.0,2,4,3
914,62423,503,0.051643,53194.0,0.864811,0.185294,0.123529,0.170588,0.052941,70.0,35.0,2,4,3
672,61770,1115,0.078902,58667.0,0.932735,0.423575,0.067358,0.148964,0.081606,70.0,35.0,2,4,3
657,61743,208,0.016260,64844.0,0.937500,0.277419,0.096774,0.219355,0.012903,80.0,10.0,5,4,4
583,61486,1395,0.035661,68365.0,0.979928,0.437690,0.083080,0.149949,0.039514,97.0,23.0,4,4,4
731,61914,1832,0.046701,45526.0,0.925764,0.414386,0.112588,0.093823,0.031274,99.0,20.0,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,60025,39928,0.050841,87845.0,0.935559,0.147200,0.055025,0.325520,0.256210,820507.0,42.5,2842,1,3
237,60527,28048,0.048870,79322.0,0.937857,0.160718,0.069809,0.284165,0.255817,828042.0,50.0,2246,1,2
116,60173,12246,0.032541,76318.0,0.933121,0.125391,0.072407,0.399590,0.230064,853051.0,38.0,2454,1,3
234,60523,10110,0.040376,99976.0,0.949852,0.174120,0.032916,0.283721,0.309958,892396.0,41.0,2100,1,3
139,60302,32258,0.076442,79167.0,0.941348,0.100149,0.046786,0.299439,0.374945,947276.0,50.0,6032,1,2
273,60604,619,0.025463,150125.0,0.995153,0.035052,0.032990,0.296907,0.573196,958588.0,50.0,1994,1,2
307,60640,67088,0.078932,47390.0,0.844801,0.156501,0.051163,0.327049,0.208587,982403.0,25.0,7714,1,4
274,60605,26623,0.045589,99725.0,0.948616,0.048378,0.035443,0.358456,0.425982,1019080.0,50.0,4804,1,2
271,60602,1252,0.008000,85313.0,0.962460,0.000000,0.000000,0.659731,0.222766,1499380.0,166.0,1372,1,1
9,60015,27388,0.057965,137691.0,0.956368,0.080799,0.041588,0.358755,0.367935,1744893.0,75.0,4051,1,2
233,60521,18103,0.049584,169674.0,0.965310,0.071206,0.026847,0.375411,0.410259,1800100.0,100.0,2470,1,1
14,60022,8503,0.016142,185698.0,0.983065,0.034414,0.028587,0.372178,0.491624,1800967.0,197.0,2491,1,1
322,60657,70105,0.030732,84319.0,0.947621,0.047572,0.033659,0.471282,0.340380,1828136.0,41.0,8079,1,3
39,60064,15848,0.126835,34777.0,0.766658,0.314323,0.039304,0.074535,0.031818,1859339.0,32.0,39041,1,3
319,60654,17328,0.058316,93848.0,0.953255,0.034904,0.031664,0.471847,0.365582,2044548.0,100.0,2938,1,1
38,60062,40631,0.035227,104242.0,0.940120,0.121724,0.043528,0.358929,0.295835,2223868.0,77.0,4521,1,1
135,60201,43056,0.062793,70497.0,0.934620,0.108520,0.028588,0.288127,0.408267,2256715.0,35.0,9896,1,3
5,60010,44930,0.044653,130526.0,0.964856,0.102193,0.059570,0.353012,0.297064,2503167.0,100.0,4346,1,1
299,60631,28238,0.046076,79458.0,0.933034,0.241569,0.080006,0.238935,0.151263,2766749.0,50.0,1434,1,2
58,60091,27304,0.040435,138322.0,0.964401,0.054788,0.030111,0.338657,0.472190,2950030.0,50.0,5832,1,2
82,60126,47818,0.055168,100000.0,0.955833,0.144884,0.060565,0.328518,0.245750,3134489.0,35.0,3147,1,3
270,60601,13695,0.050842,103735.0,0.953487,0.064878,0.046662,0.400036,0.368180,3721561.0,50.0,6762,1,2
22,60035,29824,0.052298,130262.0,0.952756,0.089152,0.040440,0.345691,0.364205,4295367.0,75.0,7733,1,2
59,60093,19204,0.031878,170582.0,0.970944,0.058014,0.017477,0.400761,0.436686,5524099.0,200.0,5482,1,1
279,60610,38438,0.050182,77094.0,0.932983,0.076150,0.028045,0.394500,0.326786,6433231.0,75.0,6306,1,2
272,60603,1029,0.073209,140500.0,0.944606,0.008741,0.013986,0.421329,0.540210,7063649.0,27.0,3844,1,4
28,60045,20622,0.046395,167073.0,0.973911,0.074179,0.028765,0.394752,0.388732,14305956.0,192.0,3886,1,1
275,60606,3011,0.016257,119973.0,0.967785,0.021412,0.006011,0.514275,0.427498,24422565.0,125.0,6522,1,1
280,60611,31563,0.045756,92545.0,0.962329,0.039912,0.032852,0.393708,0.437205,25185078.0,100.0,10057,1,1
283,60614,69817,0.033966,94640.0,0.950886,0.052876,0.022021,0.483632,0.347312,42602000.0,100.0,9607,1,1

In [123]:
combined_summary_df.to_csv('cleaned_combined_zipcodes.csv', index=False)

In [124]:
combined_summary_df = pd.read_csv('cleaned_combined_zipcodes.csv')

In [ ]:
from numpy.random import seed
seed(1)
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [86]:
X = combined_summary_df[['pop_total', 'unemployment_rate', 'median_household_income',
                         'healthcare_rate', 'hs_graduation_rate', 'assoc_degree_rate', 
                         'bachelor_degree_rate', 'grad_degree_rate']]
y = combined_summary_df['donation_sum_quartile']
print(X.shape, y.shape)

(29721, 8) (29721,)

In [87]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [88]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [89]:
# Create an empty sequential model
model = Sequential()

In [90]:
# Add the first layer where the input dimensions are the 561 columns of the training data
model.add(Dense(10, activation='relu', input_dim=X_train.shape[1]))

In [91]:
# Add a second hidden layer
model.add(Dense(10, activation='relu'))

In [92]:
# The output layer has 5 columns that are one-hot encoded
y_train.shape

(22290, 5)

In [93]:
# Add output layer
model.add(Dense(y_train.shape[1], activation="softmax"))

In [94]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(loss="categorical_crossentropy",
              optimizer="adam", metrics=['accuracy'])

In [95]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [97]:
# Use the training data to fit (train) the model
model.fit(
    X_train_scaled,
    y_train,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 2/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 3/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 4/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 5/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 6/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 7/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 8/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 9/10
 - 1s - loss: nan - acc: 0.0000e+00
Epoch 10/10
 - 1s - loss: nan - acc: 0.0000e+00

In [98]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 1s - loss: nan - acc: 0.0000e+00
Loss: nan, Accuracy: 0.0

In [99]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [100]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: [1 1 1 1 1]
Actual Labels: [array([0., 0., 0., 1., 0.], dtype=float32), array([0., 0., 0., 0., 1.], dtype=float32), array([0., 0., 1., 0., 0.], dtype=float32), array([0., 0., 0., 0., 1.], dtype=float32), array([0., 0., 0., 1., 0.], dtype=float32)]